<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: cabecera('Post')}"></head>
<body class="bg-light">
    <nav th:replace="~{fragments :: navbar}"></nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <article class="col-md-8 bg-white p-5 shadow-sm rounded">
                <h1 class="display-4 fw-bold" th:text="${post.title}">Post</h1>
                <p class="text-muted border-bottom pb-3">
                    Publicado el: <span th:text="${#temporals.format(post.createTime, 'dd MMMM, yyyy')}">01/01/2026</span>
                </p>
                <p class="mt-5 fs-5" style="white-space: pre-line" th:text="${post.content}">Contenido del post...</p>
                <a href="/" class="btn btn-outline-secondary">Regresar</a>
            </article>
        </div>
    </div>

    <div th:replace="~{fragments :: scripts}"></div>
</body>
</html>